/* Navbar menu */
.navbar {
  text-align: center;
  background-color: rgb(145, 160, 175);
  line-height: 2em;
}

.navbar-sticky {
  top: 0;
  position: -webkit-sticky; /* safari */
  position: sticky;
}

.nav-item {
  color: rgb(145, 160, 175);
  text-align: center;
  text-decoration: none;
  padding-left: 16px;
  padding-right: 16px;
  display: inline-block; /* Makes sure that the box covers the entire line height. */
}

.nav-item:hover {
  background-color: rgb(135, 150, 165);
  text-decoration: none;
  display: inline-block;
}

.active {
  background-color: rgb(155, 175, 190);
  display: inline-block;
}
